/*  Main settings */
:root {
  --activeColor: orange;
  --black: #404040;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
}

img {
  max-width: 100%;
}

a:focus {
  outline: none;
}

.btn {
  height: 50px;
  width: 200px;
  border: 2px solid var(--activeColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  position: relative;
  transition: 0.2s;
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: var(--activeColor);
  transition: 0.3s;
  z-index: -1;
}

.btn:hover {
  color: white;
  transition: 0.2s;
}

.btn:hover::after{
  width: 100%;
  transition: 0.3s;
}


/* Header */
.header {
  width: 100%;
  box-shadow: 0 0 30px rgba(0,0,0, 0.05);
}

.header__content {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabinet {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  transition: 0.2s;
}

.cabinet:hover {
  color: var(--activeColor);
  transition: 0.2s;
}

/* Navigation section */

.logo__btn {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: var(--black);
  transition: 0.2s;
}

.logo__btn:hover {
  color: var(--activeColor);
  transition: 0.2s;
}

.logo__desc {
  margin-top: 5px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--black);
}

.navigation__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 15px;
}

.nav-list__link {
  text-decoration: none;
  font-size: 18px;
  color: rgba(0,0,0, 0.5);
  font-weight: 500;
  transition: 0.2s;
}

.nav-list__link:hover {
  color: var(--activeColor);
  transition: 0.2s;
}

.nav-list__link[active] {
  font-weight: 700;
  color: rgba(0,0,0, 1);
}
.phone {
  text-align: right;
}

.phone__btn {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
  transition: 0.2s;
}

.phone__btn:hover {
  color: var(--activeColor);
  transition: 0.2s;
}

.phone__desc {
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 14px;
  color: var(--black);
}

/* Home sections */
.home__main {
  margin-top: 150px;
  margin-bottom: 100px;
}

.main {
  align-items: center;
}

.main__title {
  font-size: 35px;
  font-weight: 800;
  line-height: 40px;
}

.main__desc {
  width: 90%;
  margin-top: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 500;
}

.main__desc > span {
  font-weight: 700;
  color: var(--activeColor);
}

.main__btn {
  margin-top: 50px;
}

/* Offer section */
.offer__block {
  margin-bottom: 100px;
}

.section-heading {
  text-align: center;
}

.section__heading {
  margin: 60px 0;
}

.section-heading__text {
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(0,0,0, 0.5)
}

.section-heading__title {
  font-size: 35px;
  margin-top: 10px;
}

.section-heading__title > span {
  font-weight: 700;
}

.offer-card {
  min-height: 250px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0, 0.07);
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.offer-card__title {
  font-size: 18px;
  font-weight: 600;
}

.offer-card__text {
  line-height: 30px;
}

/* news section */
.news-card {
  box-sizing: border-box;
  min-height: 450px;
  border-radius: 5px;
  padding: 0 20px 20px 20px;
  background-color: rgba(0,0,0, 0.03);
  /* box-shadow: 0 0 30px rgba(0,0,0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.news-card__image {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-card__img {
  max-width: 90%;
}

.news-card__title {
  font-size: 20px;
  font-weight: 800;
}

.news-card__info {
  display: flex;
  justify-content: flex-start;
}

.news-card__setting {
  font-size: 14px;
  color: var(--black);
  opacity: 0.7;
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-weight: 500;
}

.news-card__setting > img {
  height: 17px;
  width: 17px;
  margin-right: 5px;
}